
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h3{
    font-size: 31px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6{
    font-size: 16px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}


.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    font-size: 16px;
    padding: 0 32px;
    color: #0067f4;
    line-height: 48px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    /* z-index: 5; */
}


/* Navbar */

.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: transparent;
    transition: all 0.5s ease;
    z-index: 999;
}

.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;

}


.nav .navbar-toggler .toggler-icon{

    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0 ;
    position: relative;
    display: block;
    transition: all 0.6s ease-in-out 0s;
    
}

.nav .menu-bar .menu-items{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav .menu-bar .menu-items li{
    margin: 0 15px;
}


.nav .menu-bar .menu-items li a{

    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.nav .menu-bar .menu-items li a:hover{
    color: #4F47E4;
}

.nav .navbar-social{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .navbar-social span{
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}

.navbar-social ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar-social ul li{
    margin: 0 7px;
}
.navbar-social ul li a{
    color: #6c6c6c;
    font-size: 22px;
}

/* Home */

.back{
    background-image: url("images/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    background-attachment: fixed;
    position: relative;
}

.back .overlay{

    background: linear-gradient(rgba(232,237,255,0.9) , rgba(239,254,255,0.9)40%, rgba(254,255,244,0.3)70%, rgba(255,255,255,0.12));
    width: 100%;
    height: 100%;
}

.back .hero-shape{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.back .hero-shape img{
    width: 100%;
    display: block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}

.hero-text h6{
    color: #1d1d1d;
}


.hero-text .header-button{
    margin-top: 22px;
}

.hero-text .header-button li{
    display: inline-block;
    margin: 10px 10px 0 0;
}


.hero-text .header-button li a.main-btn{
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


.hero-text .header-button li a.main-btn i{
    margin-left: 5px;
    color: #646ee5;
}

.hero-text .header-button .btn-one{

    color: #0067f4;
}

.hero-text .header-button .btn-one::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #535CF1 , #A147E4);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;
}

.hero-text .header-button .btn-one:hover::before{

    background-image: linear-gradient(to left, #535CF1 , #A147E4);
    background-position: left center;

}


.hero-text .header-button .btn-two:hover{
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);

}

/* Service */

#wrapper{
    margin: 5rem 7rem 10rem 5rem;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service h6{
    margin-bottom: 6rem;
}

.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .service-content .box .box-one{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.service .service-content .box .box-one .service{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.service .service-content .box .box-one .service i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535CF1;
}

.service .service-content .box .box-one .service .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    text-align: justify;
}

.service .service-content .service-img{
    width: 40%;
}

.service .service-content .service-img img{
    width: 100%;
}

/* Pricing  */

.pricing{
    display: block;
    text-align: center;
}

.pricing .table{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing h6{
    margin-bottom: 6rem;
}

.pricing .basic{
    width: 255px;
    height: 100%;
    border: 1px solid #535CF1;
    border-radius: 20px;
}

.pricing .basic h3{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: #ecf0f1;
    transition: all ease 0.6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
}

.pricing .basic:hover h3{
    background-image: linear-gradient(to right, #535CF1 , #A147E4);
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    color: #fff;
}


.pricing .standard h3{
    background-image: linear-gradient(to right, #535CF1 , #A147E4);
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    color: #fff;

}


.pricing .basic .price{

    display: block;
    text-align: center;
    padding: 20px 0;
}

.pricing .basic .price .sing{

    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

.pricing .basic .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.pricing .basic ul li{
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}

.pricing .basic ul li i{
    padding-right: 5px;
    color: #535CF1;
}

.pricing .header-button{
    margin: 2rem auto;
    width: 170px;
}

.pricing .header-button a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
}

.pricing .basic:hover .header-button a{
    background-image: linear-gradient(to right, #535CF1 , #A147E4);
    color: #fff;
}


.pricing .standard .header-button a{

    background-image: linear-gradient(to right, #535CF1 , #A147E4);
    color: #fff;

}

